# general
OUTPUT_FOLDER = '<FOLDER TO OUTPUT YOUR PODCAST, METADATA, IMAGES AND VIDEO e.g. podcasts>'

# browser automation flags
SELENIUM_BROWSER = '<supports firefox or chrome>'
SELENIUM_HEADLESS = 1
LOCAL_DOWNLOAD_FOLDER = '<DOWNLOAD FOLDER WHICH IS SCANNED FOR PODCAST WAVEFILE>'
CHROME_PROFILE_FOLDER = '<FOLDER OF YOUR CHROME PROFILE FOR SELENIUM>'
FIREFOX_PROFILE_FOLDER = '<FOLDER OF YOUR FIREFOX PROFILE FOR SELENIUM>'

# openai
OPENAI_API_KEY = '<YOUR OPENAI API KEY>'
OPENAI_TEXT_MODEL = '<YOUR PREFERRED TEXT MODEL e.g. gpt-3.5-turbo>'
OPENAI_IMAGE_MODEL = '<YOUR PREFERRED IMAGE MODEL e.g. dall-e-3>'

#gemini
GOOGLE_CLOUD_API_KEY = '<YOUR GOOGLE CLOUD AI API KEY>'
GOOGLE_SERVICE_ACCOUNT = '<PATH TO YOUR SERVICE_ACCOUNT.JSON>'
GOOGLE_CLOUD_PROJECT_ID = '<YOUR GCP PROJECT ID>'
GOOGLE_CLOUD_LOCATION = '<YOUR PREFERRED CLOUD LOCATION, e.g. europe-west1>'
GEMINI_MODEL = '<YOUR PREFERRED GEMINI MODEL, e.g. gemini-2.0-flash>'
IMAGEN_MODEL = '<YOUR PREFERRED IMAGEN MODEL, e.g. imagen-3.0-generate-002>'

# deepseek
DEEPSEEK_API_KEY = "<YOUR DEEPSEEK API KEY>"
DEEPSEEK_TEXT_MODEL = "<YOUR PREFERRED DEEPSEEK MODEL, e.g. deepseek-chat>"

# select which GPT to use
GENERATE_TEXT = '<OPENAI or GEMINI or DEEPSEEK>'
GENERATE_IMAGE = '<OPENAI or GEMINI>'

#youtube
YT_CLIENT_SECRETS = '<PATH TO YOUR client_secrets.json>'